.ant-menu {
    position: absolute;
}

.menu-icon {
    font-size: 20px;
    color: #595959;
}

main {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    margin: auto;
}
